<!DOCTYPE html>
<html>
<head>
  <title>Grades!</title>
  <style>
  div h1{
    font-size: xx-large;
    font-family: sans-serif;
    color:white;
  }
  button{
    background-color:green;
  }
</style>
</head>
<body>
    <h1>Get your grades!</h1>
    <p>Steaming hot grades, fresh off the printer!!!!</p>
  <div>
    <h2>
    What you wish your grade was:100
        </h2>
    <form>
    <button type="submit" method="post" action="/grade/rng">your real grade</button>
    </form>
    <h1><%=@grades%><h1>
  </div>
</body>

</html>